In [1]:
import pandas as pd

In [2]:
!pwd

/home/willbanny/code/willbanny/Location-Analysis-Website/streamlit

In [3]:
from gbq_functions.big_query_download import *

In [4]:
master_df = get_master_district_df()

In [5]:
master_df['start'] = master_df['District_ID'].astype(str).str[0]
master_df_filtered = master_df[master_df['start'] == "E"]

In [8]:
sorted_df = master_df_filtered.sort_values(by="District_ID", ascending=False)

In [26]:
sorted_df

,District,HECTARES,District_ID,BR_Left,BR_Top,BR_Right,BR_Bottom,Centroid_Lon,Centroid_Lat,start
354,City of Westminster London Boro,2203.779,E09000033,-0.216091,51.539812,-0.111083,51.483806,-0.160463,51.513444,E
339,Wandsworth London Boro,3521.603,E09000032,-0.259135,51.485890,-0.126334,51.417752,-0.186192,51.451964,E
332,Waltham Forest London Boro,3881.023,E09000031,-0.062248,51.646527,0.025712,51.549905,-0.012631,51.594028,E
356,Tower Hamlets London Boro,2157.691,E09000030,-0.080209,51.544686,0.009828,51.484493,-0.034676,51.515740,E
321,Sutton London Boro,4384.768,E09000029,-0.245429,51.393414,-0.116868,51.321487,-0.177569,51.362087,E
...,...,...,...,...,...,...,...,...,...,...
206,Darlington (B),19748.946,E06000005,-1.709755,54.619356,-1.407280,54.451126,-1.552626,54.548706,E
200,Stockton-on-Tees (B),20974.108,E06000004,-1.452630,54.645240,-1.153548,54.464139,-1.328940,54.562774,E
188,Redcar and Cleveland (B),25379.413,E06000003,-1.201729,54.647976,-0.788293,54.487835,-1.021706,54.553602,E
310,Middlesbrough (B),5455.359,E06000002,-1.285424,54.591517,-1.137306,54.501113,-1.222440,54.542485,E
266,Hartlepool (B),9834.868,E06000001,-1.383754,54.727158,-1.147526,54.621658,-1.255653,54.669021,E

In [23]:
start_lon = sorted_df[['Centroid_Lon']].iloc[[0]]
start_lat = sorted_df[['Centroid_Lat']].iloc[0]

In [24]:
start_lon

     Centroid_Lon
354     -0.160463

In [30]:
sorted_df_filter = sorted_df[sorted_df['District'] == "Wandsworth London Boro"]

In [32]:
sorted_df_filter.iloc[0]['Centroid_Lon']

-0.186191508414217