In [1]:
import pandas as pd

In [2]:
!pwd

/home/willbanny/code/willbanny/project_website/streamlit

In [3]:
from gbq_functions.big_query_download import *

In [5]:
master_df = get_master_district_df()

In [ ]:
master_df['start'] = master_df['District_ID'].astype(str).str[0]
master_df_filtered = master_df[master_df['start'] == "E"]

In [13]:
sorted_df = master_df_filtered.sort_values(by="District_ID", ascending=False)[['District']]

In [14]:
sorted_df

                            District
354  City of Westminster London Boro
339           Wandsworth London Boro
332       Waltham Forest London Boro
356        Tower Hamlets London Boro
321               Sutton London Boro
..                               ...
206                   Darlington (B)
200             Stockton-on-Tees (B)
188         Redcar and Cleveland (B)
310                Middlesbrough (B)
266                   Hartlepool (B)

[309 rows x 1 columns]